<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compare ice charts</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .pdf-container {
      width: 50%;
      float: left;
    }
  </style>
  <script defer data-domain="gregdev.com" src="https://analytics.gregdev.com/js/script.file-downloads.hash.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
  <h1>Select two dates and compare charts from each</h1>
  <p><a href="/previous">Go to "previous" chart view</a></p>
  <p><a href="/">Reset</a></p>
  <div class="pdf-container">
    <!-- select PDF for the first iframe -->
    <form id="pdfForm1">
      <select name="pdf_url" id="pdfSelect1">
        <% pdf_urls.each_with_index do |pdf_url, index| %>
          <option value="<%= pdf_url %>" <%= 'selected' if pdf_url == left_pdf_url %>><%= dates[index] %></option>
        <% end %>
      </select>
      <button type="submit">View chart</button>
    </form>

    <!-- iframe to display selected PDF for first form -->
    <iframe id="pdfIframe1" width="100%" height="600px"<% if left_pdf_url %> src="/pdf_to_jpg?pdf_url=<%= CGI.escape(left_pdf_url) %>" <% end %>></iframe>
  </div>

  <div class="pdf-container">
    <!-- select PDF for the second iframe -->
    <form id="pdfForm2">
      <select name="pdf_url" id="pdfSelect2">
        <% pdf_urls.each_with_index do |pdf_url, index| %>
          <option value="<%= pdf_url %>" <%= 'selected' if pdf_url == right_pdf_url %>><%= dates[index] %></option>
        <% end %>
      </select>
      <button type="submit">View chart</button>
    </form>

    <!-- iframe to display selected PDF for second form -->
    <iframe id="pdfIframe2" width="100%" height="600px"<% if right_pdf_url %> src="/pdf_to_jpg?pdf_url=<%= CGI.escape(right_pdf_url) %>" <% end %>></iframe>
  </div>

  <script>
    $(document).ready(function() {
      // handle form submission and update iframes
      function handleFormSubmit(formId, selectId, iframeId, paramName) {
        $(formId).submit(function(event) {
          event.preventDefault();
          var selectedPdfUrl = $(selectId).val();
          $(iframeId).attr('src', '/pdf_to_jpg?pdf_url=' + encodeURIComponent(selectedPdfUrl));

          // update the URL with the PDF for each (left/right) frame
          const url = new URL(window.location);
          url.searchParams.set(paramName, selectedPdfUrl);
          window.history.replaceState({}, '', url);
        });
      }

      handleFormSubmit('#pdfForm1', '#pdfSelect1', '#pdfIframe1', 'left');
      handleFormSubmit('#pdfForm2', '#pdfSelect2', '#pdfIframe2', 'right');
    });
  </script>
</body>
</html>
