<!DOCTYPE html>
<html>
<head>
  <title>Previous ice charts</title>
</head>
<body>
  <h1>Select a date and display charts from the previous 2 months</h1>
  <p><a href="/">Go to "compare" chart view</a></p>
  <form action="/previous" method="get">
    <select name="selected_date">
      <% dates.each do |date| %>
        <option value="<%= date %>"><%= date %></option>
      <% end %>
    </select>
    <input type="submit" value="View charts">
  </form>

  <% if @selected_image_url %>
    <h2>Image for <%= @selected_date %></h2>
    <iframe width="1120px" height="790px" src="<%= @selected_image_url %>#toolbar=0&navpanes=0&scrollbar=0"></iframe>

    <% if @prev_images_urls.any? %>
      <h2>Images for previous dates</h2>
      <% @prev_images_urls.each do |prev_date, prev_image_url| %>
        <h3><%= prev_date %></h3>
        <iframe width="1120px" height="790px" src="<%= prev_image_url %>#toolbar=0&navpanes=0&scrollbar=0"></iframe>
      <% end %>
    <% else %>
      <p>No images available for previous dates.</p>
    <% end %>
  <% end %>
</body>
</html>
