<%= erb :_nav, locals: { active_page: 'previous', show_reset: true, reset_url: '/previous', subtitle: 'Select a date and display charts from the previous 60 days' } %>
<form action="/previous" method="get">
    <select name="selected_date" class="previous-dates">
      <% @dates.each do |date| %>
        <option value="<%= date %>"><%= date %></option>
      <% end %>
    </select>
    <input type="submit" value="View charts">
  </form>

  <% if @selected_image_url %>
    <h3>Chart for <%= @selected_date %>:</h3>
    <div class="chart-container">
      <iframe src="<%= @selected_image_url %>#view=FitH&toolbar=0&navpanes=0&scrollbar=0"></iframe>
    </div>

    <% if @prev_images_urls.any? %>
      <h3>Charts for previous dates:</h3>
      <% @prev_images_urls.each do |prev_date, prev_image_url| %>
        <div class="chart-container">
          <h4><%= prev_date %></h4>
          <iframe src="<%= prev_image_url %>#view=FitH&toolbar=0&navpanes=0&scrollbar=0"></iframe>
        </div>
      <% end %>
    <% else %>
      <p>No charts available for previous dates.</p>
    <% end %>
  <% end %>
